<!-- code by:Nidhi Singh-->
<!-- external css file -->

body
{
background-color:aliceblue;
}


h1
{
color:red;
text-align: center;
 
font-size: 40px;

}

th, td
 {
  padding:10px;
}
tr
{
font-size: 20px;
}

 <!-- class style -->
.label_col
{
font-size:20px;
}

 <!-- id style -->
#he
{
 font-weight: bold;
font-size:20px;
 
}


input[type=text]
 {
 width: 100%;
}


input
{
padding: 8px;
}



